body {
    width: 100vw;
    height: 100vh;
    background-color:#FAFAFA;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans';
    font-size: 14px;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
}

/* buttons and inputs */

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input.hidden {
    display: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 7px 10px;
    margin: 8px 0 0 4px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

button:hover {
    background-color: #45a049;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

button.icon-button {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 7px 10px;
    cursor: pointer;
}

button.red{
    background-color: #F44336;
}

label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* forms */

.form {
    padding: 16px;
    background-color: #EEEEEE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.book-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23vw;
    min-width: 130px;
    height: 300px;
    margin-right: 2vw;
}

.button-section {
    display: flex;
    justify-content: flex-end;
}

.form.books-filters-section {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.form.books-filters-section > .filters {
    display: flex;
}

.form.books-filters-section > .filters > div {
    width: 150px;
}

/* список */
.list-books {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 75vw;
    margin-top: 16px;
}

.book {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 135px;
    box-sizing: border-box;
    margin: 0 10px 10px 0;
    padding: 16px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.book:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.book .button-section {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}

.book:hover .button-section {
    visibility: visible;
    opacity: 1;
}

.book p {
    margin: 8px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.book button {
    margin-top: 8px;
}

/* modal */
.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: absolute;
    background-color: #fefefe;
    padding: 16px;
    width: 150px;
}

.modal-content > h3 {
    margin: 0 0 8px 0;
}